@*
*@
@{ 
    <h1 class="text-danger"
    ></h1>
    <div class="alert alert-warning d-flex align-items-center">
    <i class="bi bi-info-circle me-2"></i>
    <p>
     Bạn không được cấp quyền để sử dụng chức năng này.</p>
    <p>
    Vui lòng liên hệ quản trị hệ thống</p>
    <p class="text-center">
    <a href="~/">Quay về trang chủ</a>
    </p>
    </div>
}
